@if (Request.IsAuthenticated)
{
    <li>
        <a> Bienvenido  @Session["UserFullName"]</a>
    </li>
     <li>
        <a href=@Url.Content("~/Account/LogOff") title="Salir">Cerrar Sesión</a>
    </li>
}