@if (Request.IsAuthenticated)
{
   <li><a href=@Url.Content("~/Account/LogOff")><span class="glyphicon glyphicon-user"></span>Cerrar Sesion</a></li>@*
    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
               
  
    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>*@
}