
@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Principal", "Index", "Home")</li>
    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
    <li>@Html.ActionLink("Contactanos", "Contact", "Home")</li> 
    <li>@Html.ActionLink("Usuarios", "MttoUsuario", "Usuario")</li> 
}
